.main{
    position: relative;
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.modalbox{
    position: absolute;
    top: 100px;
    right: 10%;
     /* background: #dadada; */
     z-index: 1;
    /* transform: translate(-50%,-50%); */
}

.calender{
    position: absolute;
   
    
    z-index: 55;
}